    <div class="header-bar">
    <div class="header-bar-top">
      <div class="row">
        <div class="small-12 medium-10 large-9 columns">
          <div class="utility-nav">
            <ul>
              <li><a class="scroll-to-link show-for-medium-up" href="#who-we-are">Team</a></li>
              <li class="show-for-medium-up"> &#124; </li>
              <li><a class="scroll-to-link show-for-medium-up" href="#specs">Specs</a></li>
              <li class="show-for-medium-up"> &#124; </li>
              <li><a class="scroll-to-link show-for-medium-up" href="#pledge">Contribute</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>