.pledge-main#pledge
  .row.pledge-top-row
    .medium-6.large-4.columns
      .spinner-box
        .ps-progress
          %div
      .pledge-box
        .row
          .small-6.medium-6.columns
            %h3.supporter-count
            %h4 Supporters
        %h3.pledged-amount
        %h4 Raised of $25,000 Goal
        .pledge-button-wrapper.contribute-now
          %a.button.alert.round
            CONTRIBUTE
    .medium-6.large-4.columns
      .pledge-box
        %h3.perk-amount $50
        %h4 Baby shout out
        %p We'll encode your name with our fantastic baby crying encoding technology to scream your name across the playa.
        .pledge-button-wrapper.iterated-pledge-perks
          %a{class: "button alert round pledge-button", href: '/'}
            CONTRIBUTE
          %h4.backers
            Aug. 2015
            |
            %span.text_blue 30 available
    .medium-6.large-4.columns
      .pledge-box
        %h3.perk-amount $250
        %h4 Ride on the baby!
        %p That's right, a ride on the baby! (Limit 3 per person)
        .pledge-button-wrapper.iterated-pledge-perks
          %a{class: "button alert round pledge-button", href: '/'}
            CONTRIBUTE
          %h4.backers
            Aug. 2015
            |
            %span.text_blue 20 available
    .medium-6.large-4.columns
      .pledge-box
        %h3.perk-amount $300
        %h4 Submit your own track!
        %p Got a custom baby crying track? We can integrate it into our playlist.
        .pledge-button-wrapper.iterated-pledge-perks
          %a{class: "button alert round pledge-button", href: '/'}
            CONTRIBUTE
          %h4.backers
            Aug. 2015
            |
            %span.text_blue 15 available
    .medium-6.large-4.columns
      .pledge-box
        %h3.perk-amount $500
        %h4 Baby gram
        %p We will deliver a special custom baby gram to your burning man camp of choice.
        .pledge-button-wrapper.iterated-pledge-perks
          %a{class: "button alert round pledge-button", href: '/'}
            CONTRIBUTE
          %h4.backers
            Aug. 2015
            |
            %span.text_blue 5 available
    .medium-6.large-4.columns
      .pledge-box
        %h3.perk-amount $1,200
        %h4 Save my ears!
        %p We will purposely *not* bring the baby car to your camp during the burn.
        .pledge-button-wrapper.iterated-pledge-perks
          %a{class: "button alert round pledge-button", href: '/'}
            CONTRIBUTE
          %h4.backers
            Aug. 2015
            |
            %span.text_blue 10 available