<div class="small-12 specifics-list columns">
  <div class="row">
    <div class="small-12 medium-6 medium-offset-0 large-12 large-offset-0 columns">
      <h4>The Specifics</h4>
    </div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns "><p>SIZE:</p></div>
    <div class="right small-7 large-8 columns"><p>approx. 11' tall, 8' base</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>WEIGHT:</p></div>
    <div class="right small-7 large-8 columns"><p>approx. 3,500 lbs</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>MATERIAL:</p></div>
    <div class="right small-7 large-8 columns"><p>wood frame, plastic "skin", steel</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>MOVEMENT:</p></div>
    <div class="right small-7 large-8 columns"><p>drives like a car</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>SOUND:</p></div>
    <div class="right small-7 large-8 columns"><p>4 premium speakers blasting crying<br>baby noises non-stop</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>LANGUAGE:</p></div>
    <div class="right small-7 large-8 columns"><p>US English</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>POWER:</p></div>
    <div class="right small-7 large-8 columns"><p>Generator power</p></div>
  </div>
  <div class="row">
    <div class="left small-3 medium-offset-0 large-offset-0 columns"><p>PLATFORM:</p></div>
    <div class="right small-7 large-8 columns"><p>The Trojan baby model</p></div>
  </div>
</div>