  <!-- <div class="sponsor-top"><h4>RECENTLY FEATURED IN</h4></div> -->
  <div class="sponsor-bar">
    <div class="row">

      <div class="medium-4 columns sponsor">
        <div class="small-12 columns">
          <p>&ldquo;Fuck, that baby can freakin' cry. Whoever would follow through on creating this is an anti-social misanthrope.&rdquo;</p>
          </div>
          <div class="small-5 small-offset-7 medium-5 medium-offest-7 news-logo columns"><img src="<%= asset_path("press_logo_nyt.png") %>"></div>
      </div>

      <div class="medium-4 columns sponsor divider">
        <div class="small-12 medium columns divider-mobile show-for-small-only"></div>
        <div class="small-12 medium columns">
          <p>&ldquo;Bringing baby back to the playa. Are you ready for an all night PSA for condoms?&rdquo;</p>
        </div>
        <div class="small-5 small-offset-7 medium-5 medium-offest-7 news-logo columns"><img src="<%= asset_path("press_logo_wired.png") %>"></div>
      </div>

      <div class="medium-4 columns sponsor divider">
        <div class="small-12 medium columns divider-mobile show-for-small-only"></div>
        <div class="small-12 columns">
          <p>&ldquo;What a terrible clusterfuck to be had. Just pay now for the save my ears option to guarantee this disaster doesn't ruin your burn.&ldquo;</p>
        </div>
        <div class="small-5 small-offset-7 medium-5 medium-offest-7 news-logo columns"><img src="<%= asset_path("press_logo_cnn.png") %>"></div>
      </div>

    </div>
  </div>