  <div class="tech-specs" id="specs">
    <div class="row">
      <div class="columns hide-for-small-only">
        <h3 class="sub-title">TECHNICAL SPECS</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns baby-schem">
        <img src="<%= asset_path("baby-schematic.jpg") %>">
      </div>
      <div class="small-12 medium-6 columns specs-text">
        <div class="row">
          <div class="small-12 columns">
            <h1>Impressive Tech & Design</h1>
            <p>Measuring about 11 feet tall and weighing approximately 3,500 pounds, Baby car will take on the Playa in August 2015.</p>
          </div>
        </div>
        <%= render "modules/home/specifics_list" %>
      </div>
    </div>
  </div>



