



// font colors
// $text-blue: #00d8ff;
$text-grey: #5f5955; // dark grey
$text-white: #ffffff;
$text-blue: #5AA1ED;

// backgrounds
$grey-light-bg: #f3f3f3;
$grey-bg: #45494b;
$blue-bg: #00d8ff;
$white-bg: #ffffff;


// $button-red: #fb5842; // bright red button background
$button-red: #de1043;

$large-desktop-spacing: rem-calc(80px);
$large-mobile-spacing: rem-calc(40px);

$medium-desktop-spacing: rem-calc(60px);
$medium-mobile-spacing: rem-calc(20px);

$small-desktop-spacing: rem-calc(40px);
$small-mobile-spacing: rem-calc(10px);

