.video-mod{
    .video-wrapper{
      padding: 40px 0 10px 0;
      .flex-video {
        padding-bottom: 50.5%;
        margin: 0;
      }
    }
    .social-share-bar{
      margin-top: 8px;
      ul{
        float: right;
        margin-bottom: 0;
        li{
          list-style: none;
          float: left;
          width: 36px;
          height: 36px;
          margin-right: 5px;
        }
      }
    }
    .video-copy{
      padding-left: rem-calc(20px);
      padding-top: rem-calc(20px);
      padding-bottom: rem-calc(30px);
      h1 {
        font-weight: 500;
      }
      p{
        @extend .gothem_book;
      }
      .button {
        background-color: $button-red;
      }
    }
    .pre-order-btn {
      text-align: left;
      a {
        @extend .gothem_bold;
        text-transform: uppercase;
      }
    }

    @media #{$medium}{
      .video-wrapper{
        padding-left: rem-calc(15px);
        padding-bottom: 40px;
      }
      .video-copy{
        padding-left: rem-calc(30px);
        padding-top: rem-calc(50px);
        padding-bottom: 0;
      }
    } // Large screen end

  @media (min-width: 640px) and (max-width: 815px) {
      .video-copy{
        padding-top: rem-calc(20px);
      }
  }

    // Large screens
    /* min-width 1025px, large screens */
    @media #{$large-up}{
      .pre-order-btn {
        text-align: center;
      }
      .video-wrapper{
        padding-bottom: 40px;
      }
      .video-copy{
        // padding-top: rem-calc(22px);
        padding-bottom: 0;
      }
      .social-share-bar{
        ul{
          li{
            &:nth-child(1){
              margin-right: 5px;
            }
            &:nth-child(2){
              margin-right: 0;
            }
          }
        }
      }
    } // Large screen end

  }